body {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft Yahei';
  font-size: 14px;
  line-height: 20px;
  background: #fdfefe;
}
textarea,
input,
select {
  font-family: 'Microsoft Yahei';
}
iframe {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
.dlg .dlg-hdr:before,
.dlg .dlg-hdr:after,
.dlg .dlg-ftr:before,
.dlg .dlg-ftr:after,
.dlg .dlg-bdy:before,
.dlg .dlg-bdy:after,
.thb:before,
.thb:after {
  clear: both;
  content: '';
  display: table;
}
.iln-blk {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 3px;
}
.iln-blk-sm,
.iln-blk.sz-sm {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  padding: 3px 3px;
}
.iln-blk-lg,
.iln-blk.sz-lg {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 4px;
}
@font-face {
  font-family: "iconfont";
  src: url('../ico/iconfont.eot?t=1462861011');
  src: url('../ico/iconfont.eot?t=1462861011#iefix') format('embedded-opentype'), url('../ico/iconfont.woff?t=1462861011') format('woff'), url('../ico/iconfont.ttf?t=1462861011') format('truetype'), url('../ico/iconfont.svg?t=1462861011#iconfont') format('svg');
}
.ico {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  vertical-align: middle;
  font-family: "iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.ico,
.sz-md > .ico,
.ico.sz-md {
  height: 20px;
  width: 20px;
  font-size: 16px;
  line-height: 20px;
}
.sz-lg > .ico,
.ico.sz-lg {
  height: 30px;
  width: 30px;
  font-size: 32px;
  line-height: 30px;
}
.sz-sm > .ico,
.ico.sz-sm {
  height: 18px;
  width: 18px;
  font-size: 14px;
  line-height: 18px;
}
.ico-file-c {
  background-image: url("../ico/ico.png");
  background-position: 0 0;
}
.ico-fold-c {
  background-image: url("../ico/ico.png");
  background-position: -48px 0;
}
.ico-proj-c {
  background-image: url("../ico/ico.png");
  background-position: -120px 0;
}
.ico-copy-c {
  background-image: url("../ico/ico.png");
  background-position: -24px 0;
}
.ico-cnew-c {
  background-image: url("../ico/ico.png");
  background-position: -72px -24px;
}
.lbl,
.badge {
  display: inline-block;
  margin: 0;
  font-weight: normal;
  text-align: center;
  background-image: none;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 2px;
  font-weight: bold;
  background: #1289a1;
  border: 0;
  color: #fff;
}
.lbl,
.badge,
.lbl.sz-md,
.badge.sz-md {
  font-size: 14px;
  line-height: 20px;
  padding: 0px 12px;
}
.lbl.sz-lg,
.badge.sz-lg {
  font-size: 18px;
  line-height: 30px;
  padding: 0px 18px;
}
.lbl.sz-sm,
.badge.sz-sm {
  font-size: 12px;
  line-height: 18px;
  padding: 0px 11px;
}
.lbl.clr-red,
.badge.clr-red {
  background: #dd2233;
  border: 0;
  color: #fff;
}
.lbl.clr-ylw,
.badge.clr-ylw {
  background: #ddbb33;
  border: 0;
  color: #fff;
}
.lbl.clr-grn,
.badge.clr-grn {
  background: #77bb33;
  border: 0;
  color: #fff;
}
.lbl.clr-cyn,
.badge.clr-cyn {
  background: #33bbbb;
  border: 0;
  color: #fff;
}
.lbl.clr-blu,
.badge.clr-blu {
  background: #3366aa;
  border: 0;
  color: #fff;
}
.lbl.clr-gry,
.badge.clr-gry {
  background: #999999;
  border: 0;
  color: #fff;
}
.badge {
  margin: 0 5px;
  font-weight: normal;
}
.badge,
.badge.sz-md {
  border-radius: 10px;
}
.badge.sz-lg {
  border-radius: 15px;
}
.badge.sz-sm {
  border-radius: 9px;
}
.btn,
.link-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 2px;
}
.btn {
  color: #1289a1;
  border: none;
}
.btn,
.btn.sz-md {
  font-size: 14px;
  line-height: 20px;
  padding: 6px 12px;
}
.btn > .ico-lf,
.btn.sz-md > .ico-lf {
  margin: 0 3px 0 0;
}
.btn > .ico-rt,
.btn.sz-md > .ico-rt {
  margin: 0 0 0 3px;
}
.btn.sz-lg {
  font-size: 18px;
  line-height: 30px;
  padding: 7px 18px;
}
.btn.sz-lg > .ico-lf {
  margin: 0 4px 0 0;
}
.btn.sz-lg > .ico-rt {
  margin: 0 0 0 4px;
}
.btn.sz-sm {
  font-size: 12px;
  line-height: 18px;
  padding: 3px 11px;
}
.btn.sz-sm > .ico-lf {
  margin: 0 3px 0 0;
}
.btn.sz-sm > .ico-rt {
  margin: 0 0 0 3px;
}
.btn > .ico-top,
.btn > .ico-btm {
  display: block;
  margin: 0 auto;
}
.btn > .ico-lf,
.btn > .ico-rt,
.btn > .ico-top,
.btn > .ico-btm {
  vertical-align: bottom;
}
.btn:hover,
.btn._hvr {
  color: #1289a1;
  background: #d8ecf0;
}
.btn:focus,
.btn._fcs {
  color: #1289a1;
}
.btn:active,
.btn._act {
  color: #1289a1;
  background: #b4d9e1;
}
.btn:disabled,
.btn._dis {
  opacity: 0.3;
  cursor: not-allowed;
}
.brd-btn,
.btn.brd-main,
.btn.brd-sld-main,
.btn.pln-brd-main,
.btn.brd-red,
.btn.brd-sld-red,
.btn.pln-brd-red,
.btn.brd-ylw,
.btn.brd-sld-ylw,
.btn.pln-brd-ylw,
.btn.brd-grn,
.btn.brd-sld-grn,
.btn.pln-brd-grn,
.btn.brd-cyn,
.btn.brd-sld-cyn,
.btn.pln-brd-cyn,
.btn.brd-blu,
.btn.brd-sld-blu,
.btn.pln-brd-blu,
.btn.brd-drk,
.btn.brd-sld-drk,
.btn.pln-brd-drk,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn {
  border-width: 1px;
  border-style: solid;
}
.brd-btn,
.brd-btn.sz-md,
.btn.brd-main,
.btn.brd-main.sz-md,
.btn.brd-sld-main,
.btn.brd-sld-main.sz-md,
.btn.pln-brd-main,
.btn.pln-brd-main.sz-md,
.btn.brd-red,
.btn.brd-red.sz-md,
.btn.brd-sld-red,
.btn.brd-sld-red.sz-md,
.btn.pln-brd-red,
.btn.pln-brd-red.sz-md,
.btn.brd-ylw,
.btn.brd-ylw.sz-md,
.btn.brd-sld-ylw,
.btn.brd-sld-ylw.sz-md,
.btn.pln-brd-ylw,
.btn.pln-brd-ylw.sz-md,
.btn.brd-grn,
.btn.brd-grn.sz-md,
.btn.brd-sld-grn,
.btn.brd-sld-grn.sz-md,
.btn.pln-brd-grn,
.btn.pln-brd-grn.sz-md,
.btn.brd-cyn,
.btn.brd-cyn.sz-md,
.btn.brd-sld-cyn,
.btn.brd-sld-cyn.sz-md,
.btn.pln-brd-cyn,
.btn.pln-brd-cyn.sz-md,
.btn.brd-blu,
.btn.brd-blu.sz-md,
.btn.brd-sld-blu,
.btn.brd-sld-blu.sz-md,
.btn.pln-brd-blu,
.btn.pln-brd-blu.sz-md,
.btn.brd-drk,
.btn.brd-drk.sz-md,
.btn.brd-sld-drk,
.btn.brd-sld-drk.sz-md,
.btn.pln-brd-drk,
.btn.pln-brd-drk.sz-md,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.sz-md {
  font-size: 14px;
  line-height: 20px;
  padding: 5px 11px;
}
.brd-btn.sz-lg,
.btn.brd-main.sz-lg,
.btn.brd-sld-main.sz-lg,
.btn.pln-brd-main.sz-lg,
.btn.brd-red.sz-lg,
.btn.brd-sld-red.sz-lg,
.btn.pln-brd-red.sz-lg,
.btn.brd-ylw.sz-lg,
.btn.brd-sld-ylw.sz-lg,
.btn.pln-brd-ylw.sz-lg,
.btn.brd-grn.sz-lg,
.btn.brd-sld-grn.sz-lg,
.btn.pln-brd-grn.sz-lg,
.btn.brd-cyn.sz-lg,
.btn.brd-sld-cyn.sz-lg,
.btn.pln-brd-cyn.sz-lg,
.btn.brd-blu.sz-lg,
.btn.brd-sld-blu.sz-lg,
.btn.pln-brd-blu.sz-lg,
.btn.brd-drk.sz-lg,
.btn.brd-sld-drk.sz-lg,
.btn.pln-brd-drk.sz-lg,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.sz-lg {
  font-size: 18px;
  line-height: 30px;
  padding: 6px 17px;
}
.brd-btn.sz-sm,
.btn.brd-main.sz-sm,
.btn.brd-sld-main.sz-sm,
.btn.pln-brd-main.sz-sm,
.btn.brd-red.sz-sm,
.btn.brd-sld-red.sz-sm,
.btn.pln-brd-red.sz-sm,
.btn.brd-ylw.sz-sm,
.btn.brd-sld-ylw.sz-sm,
.btn.pln-brd-ylw.sz-sm,
.btn.brd-grn.sz-sm,
.btn.brd-sld-grn.sz-sm,
.btn.pln-brd-grn.sz-sm,
.btn.brd-cyn.sz-sm,
.btn.brd-sld-cyn.sz-sm,
.btn.pln-brd-cyn.sz-sm,
.btn.brd-blu.sz-sm,
.btn.brd-sld-blu.sz-sm,
.btn.pln-brd-blu.sz-sm,
.btn.brd-drk.sz-sm,
.btn.brd-sld-drk.sz-sm,
.btn.pln-brd-drk.sz-sm,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.sz-sm {
  font-size: 12px;
  line-height: 18px;
  padding: 2px 10px;
}
.link-btn {
  color: #1289a1;
}
.link-btn:hover,
.link-btn._hvr,
.link-btn:focus,
.link-btn._fcs {
  color: #1289a1;
  color: #16a8c6;
  text-decoration: underline;
}
.link-btn:focus,
.link-btn._fcs {
  color: #1289a1;
  box-shadow: 0 0 3px #1289a1;
}
.link-btn:active,
.link-btn._act {
  color: #0a4b58;
}
.btn.pln-main {
  color: #0d6273;
  background: transparent;
}
.btn.pln-main:hover,
.btn.pln-main._hvr,
.btn.pln-main:focus,
.btn.pln-main._fcs {
  color: #0d6273;
  background: #8de1f2;
}
.btn.pln-main:active,
.btn.pln-main._act {
  color: #0d6273;
  background: #5fd5ed;
}
.btn.brd-main {
  color: #0d6273;
  border-color: rgba(13, 98, 115, 0.2);
  background: rgba(13, 98, 115, 0.04);
}
.btn.brd-main:hover,
.btn.brd-main._hvr,
.btn.brd-main:focus,
.btn.brd-main._fcs {
  color: #0d6273;
  border-color: #7abdca;
  border-color: rgba(13, 98, 115, 0.4);
}
.btn.brd-main:hover,
.btn.brd-main._hvr {
  color: #0d6273;
  background: #cee6eb;
  background: rgba(18, 137, 161, 0.2);
}
.btn.brd-main:active,
.btn.brd-main._act {
  color: #083b45;
  background: #a9d4dd;
  background: rgba(13, 98, 115, 0.25);
  border-color: #56abbc;
  border-color: rgba(5, 39, 46, 0.4);
}
.btn.sld-main {
  background: #1289a1;
  color: #fff;
}
.btn.sld-main:hover,
.btn.sld-main._hvr,
.btn.sld-main:focus,
.btn.sld-main._fcs {
  color: #fff;
  background: #16a8c6;
}
.btn.sld-main:active,
.btn.sld-main._act {
  color: #fff;
  background: #0c5a6a;
}
.btn.brd-sld-main {
  color: #0d6273;
  border-color: rgba(13, 98, 115, 0.2);
  background: rgba(13, 98, 115, 0.04);
}
.btn.brd-sld-main:hover,
.btn.brd-sld-main._hvr,
.btn.brd-sld-main:focus,
.btn.brd-sld-main._fcs {
  color: #fff;
  background: #1289a1;
  border-color: #1289a1;
}
.btn.brd-sld-main:active,
.btn.brd-sld-main._act {
  color: #fff;
  background: #0c5a6a;
  border-color: #0c5a6a;
}
.btn.pln-brd-main {
  color: #0d6273;
  background: transparent;
  border-color: transparent;
}
.btn.pln-brd-main:hover,
.btn.pln-brd-main._hvr,
.btn.pln-brd-main:focus,
.btn.pln-brd-main._fcs {
  color: #0d6273;
  border-color: #7abdca;
  border-color: rgba(13, 98, 115, 0.4);
}
.btn.pln-brd-main:hover,
.btn.pln-brd-main._hvr {
  color: #0d6273;
  background: #cee6eb;
  background: rgba(18, 137, 161, 0.2);
}
.btn.pln-brd-main:active,
.btn.pln-brd-main._act {
  color: #083b45;
  background: #a9d4dd;
  background: rgba(13, 98, 115, 0.25);
  border-color: #56abbc;
  border-color: rgba(5, 39, 46, 0.4);
}
.btn.pln-sld-main {
  color: #0d6273;
  background: transparent;
}
.btn.pln-sld-main:hover,
.btn.pln-sld-main._hvr,
.btn.pln-sld-main:focus,
.btn.pln-sld-main._fcs {
  color: #fff;
  background: #1289a1;
}
.btn.pln-sld-main:active,
.btn.pln-sld-main._act {
  color: #fff;
  background: #0c5a6a;
}
.btn.pln-red {
  color: #b11b29;
  background: transparent;
}
.btn.pln-red:hover,
.btn.pln-red._hvr,
.btn.pln-red:focus,
.btn.pln-red._fcs {
  color: #b11b29;
  background: #f8d3d6;
}
.btn.pln-red:active,
.btn.pln-red._act {
  color: #b11b29;
  background: #f1a7ad;
}
.btn.brd-red {
  color: #b11b29;
  border-color: rgba(177, 27, 41, 0.2);
  background: rgba(177, 27, 41, 0.04);
}
.btn.brd-red:hover,
.btn.brd-red._hvr,
.btn.brd-red:focus,
.btn.brd-red._fcs {
  color: #b11b29;
  border-color: #e97a85;
  border-color: rgba(177, 27, 41, 0.4);
}
.btn.brd-red:hover,
.btn.brd-red._hvr {
  color: #b11b29;
  background: #f6d2d5;
  background: rgba(221, 34, 51, 0.2);
}
.btn.brd-red:active,
.btn.brd-red._act {
  color: #85141f;
  background: #eea7ae;
  background: rgba(177, 27, 41, 0.25);
  border-color: #e14f5c;
  border-color: rgba(111, 17, 25, 0.4);
}
.btn.sld-red {
  background: #dd2233;
  color: #fff;
}
.btn.sld-red:hover,
.btn.sld-red._hvr,
.btn.sld-red:focus,
.btn.sld-red._fcs {
  color: #fff;
  background: #e24554;
}
.btn.sld-red:active,
.btn.sld-red._act {
  color: #fff;
  background: #a81a27;
}
.btn.brd-sld-red {
  color: #b11b29;
  border-color: rgba(177, 27, 41, 0.2);
  background: rgba(177, 27, 41, 0.04);
}
.btn.brd-sld-red:hover,
.btn.brd-sld-red._hvr,
.btn.brd-sld-red:focus,
.btn.brd-sld-red._fcs {
  color: #fff;
  background: #dd2233;
  border-color: #dd2233;
}
.btn.brd-sld-red:active,
.btn.brd-sld-red._act {
  color: #fff;
  background: #a81a27;
  border-color: #a81a27;
}
.btn.pln-brd-red {
  color: #b11b29;
  background: transparent;
  border-color: transparent;
}
.btn.pln-brd-red:hover,
.btn.pln-brd-red._hvr,
.btn.pln-brd-red:focus,
.btn.pln-brd-red._fcs {
  color: #b11b29;
  border-color: #e97a85;
  border-color: rgba(177, 27, 41, 0.4);
}
.btn.pln-brd-red:hover,
.btn.pln-brd-red._hvr {
  color: #b11b29;
  background: #f6d2d5;
  background: rgba(221, 34, 51, 0.2);
}
.btn.pln-brd-red:active,
.btn.pln-brd-red._act {
  color: #85141f;
  background: #eea7ae;
  background: rgba(177, 27, 41, 0.25);
  border-color: #e14f5c;
  border-color: rgba(111, 17, 25, 0.4);
}
.btn.pln-sld-red {
  color: #b11b29;
  background: transparent;
}
.btn.pln-sld-red:hover,
.btn.pln-sld-red._hvr,
.btn.pln-sld-red:focus,
.btn.pln-sld-red._fcs {
  color: #fff;
  background: #dd2233;
}
.btn.pln-sld-red:active,
.btn.pln-sld-red._act {
  color: #fff;
  background: #a81a27;
}
.btn.pln-ylw {
  color: #bd9e20;
  background: transparent;
}
.btn.pln-ylw:hover,
.btn.pln-ylw._hvr,
.btn.pln-ylw:focus,
.btn.pln-ylw._fcs {
  color: #bd9e20;
  background: #faf5e2;
}
.btn.pln-ylw:active,
.btn.pln-ylw._act {
  color: #bd9e20;
  background: #f3e7b6;
}
.btn.brd-ylw {
  color: #bd9e20;
  border-color: rgba(189, 158, 32, 0.2);
  background: rgba(189, 158, 32, 0.04);
}
.btn.brd-ylw:hover,
.btn.brd-ylw._hvr,
.btn.brd-ylw:focus,
.btn.brd-ylw._fcs {
  color: #bd9e20;
  border-color: #e8d482;
  border-color: rgba(189, 158, 32, 0.4);
}
.btn.brd-ylw:hover,
.btn.brd-ylw._hvr {
  color: #bd9e20;
  background: #f6f0d5;
  background: rgba(221, 187, 51, 0.2);
}
.btn.brd-ylw:active,
.btn.brd-ylw._act {
  color: #927918;
  background: #ede2ab;
  background: rgba(189, 158, 32, 0.25);
  border-color: #e0c657;
  border-color: rgba(124, 103, 21, 0.4);
}
.btn.sld-ylw {
  background: #ddbb33;
  color: #fff;
}
.btn.sld-ylw:hover,
.btn.sld-ylw._hvr,
.btn.sld-ylw:focus,
.btn.sld-ylw._fcs {
  color: #fff;
  background: #e3c756;
}
.btn.sld-ylw:active,
.btn.sld-ylw._act {
  color: #fff;
  background: #b5971e;
}
.btn.brd-sld-ylw {
  color: #bd9e20;
  border-color: rgba(189, 158, 32, 0.2);
  background: rgba(189, 158, 32, 0.04);
}
.btn.brd-sld-ylw:hover,
.btn.brd-sld-ylw._hvr,
.btn.brd-sld-ylw:focus,
.btn.brd-sld-ylw._fcs {
  color: #fff;
  background: #ddbb33;
  border-color: #ddbb33;
}
.btn.brd-sld-ylw:active,
.btn.brd-sld-ylw._act {
  color: #fff;
  background: #b5971e;
  border-color: #b5971e;
}
.btn.pln-brd-ylw {
  color: #bd9e20;
  background: transparent;
  border-color: transparent;
}
.btn.pln-brd-ylw:hover,
.btn.pln-brd-ylw._hvr,
.btn.pln-brd-ylw:focus,
.btn.pln-brd-ylw._fcs {
  color: #bd9e20;
  border-color: #e8d482;
  border-color: rgba(189, 158, 32, 0.4);
}
.btn.pln-brd-ylw:hover,
.btn.pln-brd-ylw._hvr {
  color: #bd9e20;
  background: #f6f0d5;
  background: rgba(221, 187, 51, 0.2);
}
.btn.pln-brd-ylw:active,
.btn.pln-brd-ylw._act {
  color: #927918;
  background: #ede2ab;
  background: rgba(189, 158, 32, 0.25);
  border-color: #e0c657;
  border-color: rgba(124, 103, 21, 0.4);
}
.btn.pln-sld-ylw {
  color: #bd9e20;
  background: transparent;
}
.btn.pln-sld-ylw:hover,
.btn.pln-sld-ylw._hvr,
.btn.pln-sld-ylw:focus,
.btn.pln-sld-ylw._fcs {
  color: #fff;
  background: #ddbb33;
}
.btn.pln-sld-ylw:active,
.btn.pln-sld-ylw._act {
  color: #fff;
  background: #b5971e;
}
.btn.pln-grn {
  color: #5e9328;
  background: transparent;
}
.btn.pln-grn:hover,
.btn.pln-grn._hvr,
.btn.pln-grn:focus,
.btn.pln-grn._fcs {
  color: #5e9328;
  background: #ddf0ca;
}
.btn.pln-grn:active,
.btn.pln-grn._act {
  color: #5e9328;
  background: #c3e5a2;
}
.btn.brd-grn {
  color: #5e9328;
  border-color: rgba(94, 147, 40, 0.2);
  background: rgba(94, 147, 40, 0.04);
}
.btn.brd-grn:hover,
.btn.brd-grn._hvr,
.btn.brd-grn:focus,
.btn.brd-grn._fcs {
  color: #5e9328;
  border-color: #add687;
  border-color: rgba(94, 147, 40, 0.4);
}
.btn.brd-grn:hover,
.btn.brd-grn._hvr {
  color: #5e9328;
  background: #e2f0d5;
  background: rgba(119, 187, 51, 0.2);
}
.btn.brd-grn:active,
.btn.brd-grn._act {
  color: #446b1d;
  background: #c7e3b0;
  background: rgba(94, 147, 40, 0.25);
  border-color: #93c961;
  border-color: rgba(55, 87, 24, 0.4);
}
.btn.sld-grn {
  background: #77bb33;
  color: #fff;
}
.btn.sld-grn:hover,
.btn.sld-grn._hvr,
.btn.sld-grn:focus,
.btn.sld-grn._fcs {
  color: #fff;
  background: #8bcd49;
}
.btn.sld-grn:active,
.btn.sld-grn._act {
  color: #fff;
  background: #588b26;
}
.btn.brd-sld-grn {
  color: #5e9328;
  border-color: rgba(94, 147, 40, 0.2);
  background: rgba(94, 147, 40, 0.04);
}
.btn.brd-sld-grn:hover,
.btn.brd-sld-grn._hvr,
.btn.brd-sld-grn:focus,
.btn.brd-sld-grn._fcs {
  color: #fff;
  background: #77bb33;
  border-color: #77bb33;
}
.btn.brd-sld-grn:active,
.btn.brd-sld-grn._act {
  color: #fff;
  background: #588b26;
  border-color: #588b26;
}
.btn.pln-brd-grn {
  color: #5e9328;
  background: transparent;
  border-color: transparent;
}
.btn.pln-brd-grn:hover,
.btn.pln-brd-grn._hvr,
.btn.pln-brd-grn:focus,
.btn.pln-brd-grn._fcs {
  color: #5e9328;
  border-color: #add687;
  border-color: rgba(94, 147, 40, 0.4);
}
.btn.pln-brd-grn:hover,
.btn.pln-brd-grn._hvr {
  color: #5e9328;
  background: #e2f0d5;
  background: rgba(119, 187, 51, 0.2);
}
.btn.pln-brd-grn:active,
.btn.pln-brd-grn._act {
  color: #446b1d;
  background: #c7e3b0;
  background: rgba(94, 147, 40, 0.25);
  border-color: #93c961;
  border-color: rgba(55, 87, 24, 0.4);
}
.btn.pln-sld-grn {
  color: #5e9328;
  background: transparent;
}
.btn.pln-sld-grn:hover,
.btn.pln-sld-grn._hvr,
.btn.pln-sld-grn:focus,
.btn.pln-sld-grn._fcs {
  color: #fff;
  background: #77bb33;
}
.btn.pln-sld-grn:active,
.btn.pln-sld-grn._act {
  color: #fff;
  background: #588b26;
}
.btn.pln-cyn {
  color: #289393;
  background: transparent;
}
.btn.pln-cyn:hover,
.btn.pln-cyn._hvr,
.btn.pln-cyn:focus,
.btn.pln-cyn._fcs {
  color: #289393;
  background: #caf0f0;
}
.btn.pln-cyn:active,
.btn.pln-cyn._act {
  color: #289393;
  background: #a2e5e5;
}
.btn.brd-cyn {
  color: #289393;
  border-color: rgba(40, 147, 147, 0.2);
  background: rgba(40, 147, 147, 0.04);
}
.btn.brd-cyn:hover,
.btn.brd-cyn._hvr,
.btn.brd-cyn:focus,
.btn.brd-cyn._fcs {
  color: #289393;
  border-color: #86d6d6;
  border-color: rgba(40, 147, 147, 0.4);
}
.btn.brd-cyn:hover,
.btn.brd-cyn._hvr {
  color: #289393;
  background: #d4f0f1;
  background: rgba(51, 187, 187, 0.2);
}
.btn.brd-cyn:active,
.btn.brd-cyn._act {
  color: #1d6b6b;
  background: #aee3e4;
  background: rgba(40, 147, 147, 0.25);
  border-color: #60c9ca;
  border-color: rgba(24, 87, 87, 0.4);
}
.btn.sld-cyn {
  background: #33bbbb;
  color: #fff;
}
.btn.sld-cyn:hover,
.btn.sld-cyn._hvr,
.btn.sld-cyn:focus,
.btn.sld-cyn._fcs {
  color: #fff;
  background: #49cdcd;
}
.btn.sld-cyn:active,
.btn.sld-cyn._act {
  color: #fff;
  background: #268b8b;
}
.btn.brd-sld-cyn {
  color: #289393;
  border-color: rgba(40, 147, 147, 0.2);
  background: rgba(40, 147, 147, 0.04);
}
.btn.brd-sld-cyn:hover,
.btn.brd-sld-cyn._hvr,
.btn.brd-sld-cyn:focus,
.btn.brd-sld-cyn._fcs {
  color: #fff;
  background: #33bbbb;
  border-color: #33bbbb;
}
.btn.brd-sld-cyn:active,
.btn.brd-sld-cyn._act {
  color: #fff;
  background: #268b8b;
  border-color: #268b8b;
}
.btn.pln-brd-cyn {
  color: #289393;
  background: transparent;
  border-color: transparent;
}
.btn.pln-brd-cyn:hover,
.btn.pln-brd-cyn._hvr,
.btn.pln-brd-cyn:focus,
.btn.pln-brd-cyn._fcs {
  color: #289393;
  border-color: #86d6d6;
  border-color: rgba(40, 147, 147, 0.4);
}
.btn.pln-brd-cyn:hover,
.btn.pln-brd-cyn._hvr {
  color: #289393;
  background: #d4f0f1;
  background: rgba(51, 187, 187, 0.2);
}
.btn.pln-brd-cyn:active,
.btn.pln-brd-cyn._act {
  color: #1d6b6b;
  background: #aee3e4;
  background: rgba(40, 147, 147, 0.25);
  border-color: #60c9ca;
  border-color: rgba(24, 87, 87, 0.4);
}
.btn.pln-sld-cyn {
  color: #289393;
  background: transparent;
}
.btn.pln-sld-cyn:hover,
.btn.pln-sld-cyn._hvr,
.btn.pln-sld-cyn:focus,
.btn.pln-sld-cyn._fcs {
  color: #fff;
  background: #33bbbb;
}
.btn.pln-sld-cyn:active,
.btn.pln-sld-cyn._act {
  color: #fff;
  background: #268b8b;
}
.btn.pln-blu {
  color: #274e83;
  background: transparent;
}
.btn.pln-blu:hover,
.btn.pln-blu._hvr,
.btn.pln-blu:focus,
.btn.pln-blu._fcs {
  color: #274e83;
  background: #bed1eb;
}
.btn.pln-blu:active,
.btn.pln-blu._act {
  color: #274e83;
  background: #96b6e0;
}
.btn.brd-blu {
  color: #274e83;
  border-color: rgba(39, 78, 131, 0.2);
  background: rgba(39, 78, 131, 0.04);
}
.btn.brd-blu:hover,
.btn.brd-blu._hvr,
.btn.brd-blu:focus,
.btn.brd-blu._fcs {
  color: #274e83;
  border-color: #88a6cd;
  border-color: rgba(39, 78, 131, 0.4);
}
.btn.brd-blu:hover,
.btn.brd-blu._hvr {
  color: #274e83;
  background: #d4dfed;
  background: rgba(51, 102, 170, 0.2);
}
.btn.brd-blu:active,
.btn.brd-blu._act {
  color: #1b375c;
  background: #b0c5de;
  background: rgba(39, 78, 131, 0.25);
  border-color: #648bbe;
  border-color: rgba(22, 43, 72, 0.4);
}
.btn.sld-blu {
  background: #3366aa;
  color: #fff;
}
.btn.sld-blu:hover,
.btn.sld-blu._hvr,
.btn.sld-blu:focus,
.btn.sld-blu._fcs {
  color: #fff;
  background: #4079c6;
}
.btn.sld-blu:active,
.btn.sld-blu._act {
  color: #fff;
  background: #254a7b;
}
.btn.brd-sld-blu {
  color: #274e83;
  border-color: rgba(39, 78, 131, 0.2);
  background: rgba(39, 78, 131, 0.04);
}
.btn.brd-sld-blu:hover,
.btn.brd-sld-blu._hvr,
.btn.brd-sld-blu:focus,
.btn.brd-sld-blu._fcs {
  color: #fff;
  background: #3366aa;
  border-color: #3366aa;
}
.btn.brd-sld-blu:active,
.btn.brd-sld-blu._act {
  color: #fff;
  background: #254a7b;
  border-color: #254a7b;
}
.btn.pln-brd-blu {
  color: #274e83;
  background: transparent;
  border-color: transparent;
}
.btn.pln-brd-blu:hover,
.btn.pln-brd-blu._hvr,
.btn.pln-brd-blu:focus,
.btn.pln-brd-blu._fcs {
  color: #274e83;
  border-color: #88a6cd;
  border-color: rgba(39, 78, 131, 0.4);
}
.btn.pln-brd-blu:hover,
.btn.pln-brd-blu._hvr {
  color: #274e83;
  background: #d4dfed;
  background: rgba(51, 102, 170, 0.2);
}
.btn.pln-brd-blu:active,
.btn.pln-brd-blu._act {
  color: #1b375c;
  background: #b0c5de;
  background: rgba(39, 78, 131, 0.25);
  border-color: #648bbe;
  border-color: rgba(22, 43, 72, 0.4);
}
.btn.pln-sld-blu {
  color: #274e83;
  background: transparent;
}
.btn.pln-sld-blu:hover,
.btn.pln-sld-blu._hvr,
.btn.pln-sld-blu:focus,
.btn.pln-sld-blu._fcs {
  color: #fff;
  background: #3366aa;
}
.btn.pln-sld-blu:active,
.btn.pln-sld-blu._act {
  color: #fff;
  background: #254a7b;
}
.btn.pln-drk {
  color: #4d4d4d;
  background: transparent;
}
.btn.pln-drk:hover,
.btn.pln-drk._hvr,
.btn.pln-drk:focus,
.btn.pln-drk._fcs {
  color: #4d4d4d;
  background: #cccccc;
}
.btn.pln-drk:active,
.btn.pln-drk._act {
  color: #4d4d4d;
  background: #b3b3b3;
}
.btn.brd-drk {
  color: #4d4d4d;
  border-color: rgba(77, 77, 77, 0.2);
  background: rgba(77, 77, 77, 0.04);
}
.btn.brd-drk:hover,
.btn.brd-drk._hvr,
.btn.brd-drk:focus,
.btn.brd-drk._fcs {
  color: #4d4d4d;
  border-color: #a7a8a8;
  border-color: rgba(77, 77, 77, 0.4);
}
.btn.brd-drk:hover,
.btn.brd-drk._hvr {
  color: #4d4d4d;
  background: #dfdfe0;
  background: rgba(102, 102, 102, 0.2);
}
.btn.brd-drk:active,
.btn.brd-drk._act {
  color: #333333;
  background: #c5c6c7;
  background: rgba(77, 77, 77, 0.25);
  border-color: #8d8e8f;
  border-color: rgba(38, 38, 38, 0.4);
}
.btn.sld-drk {
  background: #666666;
  color: #fff;
}
.btn.sld-drk:hover,
.btn.sld-drk._hvr,
.btn.sld-drk:focus,
.btn.sld-drk._fcs {
  color: #fff;
  background: #7a7a7a;
}
.btn.sld-drk:active,
.btn.sld-drk._act {
  color: #fff;
  background: #474747;
}
.btn.brd-sld-drk {
  color: #4d4d4d;
  border-color: rgba(77, 77, 77, 0.2);
  background: rgba(77, 77, 77, 0.04);
}
.btn.brd-sld-drk:hover,
.btn.brd-sld-drk._hvr,
.btn.brd-sld-drk:focus,
.btn.brd-sld-drk._fcs {
  color: #fff;
  background: #666666;
  border-color: #666666;
}
.btn.brd-sld-drk:active,
.btn.brd-sld-drk._act {
  color: #fff;
  background: #474747;
  border-color: #474747;
}
.btn.pln-brd-drk {
  color: #4d4d4d;
  background: transparent;
  border-color: transparent;
}
.btn.pln-brd-drk:hover,
.btn.pln-brd-drk._hvr,
.btn.pln-brd-drk:focus,
.btn.pln-brd-drk._fcs {
  color: #4d4d4d;
  border-color: #a7a8a8;
  border-color: rgba(77, 77, 77, 0.4);
}
.btn.pln-brd-drk:hover,
.btn.pln-brd-drk._hvr {
  color: #4d4d4d;
  background: #dfdfe0;
  background: rgba(102, 102, 102, 0.2);
}
.btn.pln-brd-drk:active,
.btn.pln-brd-drk._act {
  color: #333333;
  background: #c5c6c7;
  background: rgba(77, 77, 77, 0.25);
  border-color: #8d8e8f;
  border-color: rgba(38, 38, 38, 0.4);
}
.btn.pln-sld-drk {
  color: #4d4d4d;
  background: transparent;
}
.btn.pln-sld-drk:hover,
.btn.pln-sld-drk._hvr,
.btn.pln-sld-drk:focus,
.btn.pln-sld-drk._fcs {
  color: #fff;
  background: #666666;
}
.btn.pln-sld-drk:active,
.btn.pln-sld-drk._act {
  color: #fff;
  background: #474747;
}
.inp {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border: 1px solid transparent;
  color: #222222;
  border-radius: 2px;
  outline: none;
  margin: 0;
  box-sizing: border-box;
}
.inp,
.inp.sz-md {
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 5px 6px;
}
select.inp,
select.inp.sz-md {
  height: 32px;
}
.inp input[type="radio"],
.inp.sz-md input[type="radio"],
.inp input[type="checkbox"],
.inp.sz-md input[type="checkbox"] {
  height: 14px;
  width: 14px;
  margin: 3px;
}
.inp.sz-lg {
  font-size: 18px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 6px 8px;
}
select.inp.sz-lg {
  height: 44px;
}
.inp.sz-lg input[type="radio"],
.inp.sz-lg input[type="checkbox"] {
  height: 18px;
  width: 18px;
  margin: 6px;
}
.inp.sz-sm {
  font-size: 12px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 2px 5px;
}
select.inp.sz-sm {
  height: 24px;
}
.inp.sz-sm input[type="radio"],
.inp.sz-sm input[type="checkbox"] {
  height: 12px;
  width: 12px;
  margin: 3px;
}
.fluid > .inp,
.inp.fluid {
  display: block;
  width: 98%;
  margin-bottom: 5px;
}
.inp:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}
div.inp > * {
  display: inline-block;
  vertical-align: bottom;
}
.inp.required::before,
div.inp > .required::before,
.inp.required-r::after,
div.inp > .required-r::after {
  content: "*";
  color: #dd2233;
  font-weight: bold;
}
input.inp,
select.inp,
textarea.inp {
  border: 1px solid #c4c4c4;
  background-color: #fff;
}
input.inp:hover,
select.inp:hover,
textarea.inp:hover,
input.inp:focus,
select.inp:focus,
textarea.inp:focus {
  border-color: #1289a1;
}
input.inp:focus,
select.inp:focus,
textarea.inp:focus {
  box-shadow: 0 0 4px #1289a1;
}
input.inp:active,
select.inp:active,
textarea.inp:active {
  border-color: #0d6273;
  box-shadow: 0 0 4px #0d6273;
}
input.inp.inp-err,
select.inp.inp-err,
textarea.inp.inp-err,
input.inp.clr-red,
select.inp.clr-red,
textarea.inp.clr-red {
  color: #6f1119;
  border-color: #c9a3a7;
  background-color: #fce9eb;
}
input.inp.inp-err:hover,
select.inp.inp-err:hover,
textarea.inp.inp-err:hover,
input.inp.clr-red:hover,
select.inp.clr-red:hover,
textarea.inp.clr-red:hover {
  border-color: #dd2233;
}
input.inp.inp-err:focus,
select.inp.inp-err:focus,
textarea.inp.inp-err:focus,
input.inp.clr-red:focus,
select.inp.clr-red:focus,
textarea.inp.clr-red:focus {
  border-color: #dd2233;
  box-shadow: 0 0 4px #dd2233;
}
input.inp.inp-err:active,
select.inp.inp-err:active,
textarea.inp.inp-err:active,
input.inp.clr-red:active,
select.inp.clr-red:active,
textarea.inp.clr-red:active {
  border-color: #b11b29;
  box-shadow: 0 0 4px #b11b29;
}
input.inp.inp-warn,
select.inp.inp-warn,
textarea.inp.inp-warn,
input.inp.clr-ylw,
select.inp.clr-ylw,
textarea.inp.clr-ylw {
  color: #7c6715;
  border-color: #c9c2a7;
  background-color: #fcf8eb;
}
input.inp.inp-warn:hover,
select.inp.inp-warn:hover,
textarea.inp.inp-warn:hover,
input.inp.clr-ylw:hover,
select.inp.clr-ylw:hover,
textarea.inp.clr-ylw:hover {
  border-color: #ddbb33;
}
input.inp.inp-warn:focus,
select.inp.inp-warn:focus,
textarea.inp.inp-warn:focus,
input.inp.clr-ylw:focus,
select.inp.clr-ylw:focus,
textarea.inp.clr-ylw:focus {
  border-color: #ddbb33;
  box-shadow: 0 0 4px #ddbb33;
}
input.inp.inp-warn:active,
select.inp.inp-warn:active,
textarea.inp.inp-warn:active,
input.inp.clr-ylw:active,
select.inp.clr-ylw:active,
textarea.inp.clr-ylw:active {
  border-color: #bd9e20;
  box-shadow: 0 0 4px #bd9e20;
}
input.inp.inp-succ,
select.inp.inp-succ,
textarea.inp.inp-succ,
input.inp.clr-grn,
select.inp.clr-grn,
textarea.inp.clr-grn {
  color: #375718;
  border-color: #b4c2a7;
  background-color: #f1f8eb;
}
input.inp.inp-succ:hover,
select.inp.inp-succ:hover,
textarea.inp.inp-succ:hover,
input.inp.clr-grn:hover,
select.inp.clr-grn:hover,
textarea.inp.clr-grn:hover {
  border-color: #77bb33;
}
input.inp.inp-succ:focus,
select.inp.inp-succ:focus,
textarea.inp.inp-succ:focus,
input.inp.clr-grn:focus,
select.inp.clr-grn:focus,
textarea.inp.clr-grn:focus {
  border-color: #77bb33;
  box-shadow: 0 0 4px #77bb33;
}
input.inp.inp-succ:active,
select.inp.inp-succ:active,
textarea.inp.inp-succ:active,
input.inp.clr-grn:active,
select.inp.clr-grn:active,
textarea.inp.clr-grn:active {
  border-color: #5e9328;
  box-shadow: 0 0 4px #5e9328;
}
input.inp.clr-blu,
select.inp.clr-blu,
textarea.inp.clr-blu {
  color: #162b48;
  border-color: #a7b1be;
  background-color: #ebf0f7;
}
input.inp.clr-blu:hover,
select.inp.clr-blu:hover,
textarea.inp.clr-blu:hover {
  border-color: #3366aa;
}
input.inp.clr-blu:focus,
select.inp.clr-blu:focus,
textarea.inp.clr-blu:focus {
  border-color: #3366aa;
  box-shadow: 0 0 4px #3366aa;
}
input.inp.clr-blu:active,
select.inp.clr-blu:active,
textarea.inp.clr-blu:active {
  border-color: #274e83;
  box-shadow: 0 0 4px #274e83;
}
input.inp.clr-cyn,
select.inp.clr-cyn,
textarea.inp.clr-cyn {
  color: #185757;
  border-color: #a7c2c2;
  background-color: #ebf8f8;
}
input.inp.clr-cyn:hover,
select.inp.clr-cyn:hover,
textarea.inp.clr-cyn:hover {
  border-color: #33bbbb;
}
input.inp.clr-cyn:focus,
select.inp.clr-cyn:focus,
textarea.inp.clr-cyn:focus {
  border-color: #33bbbb;
  box-shadow: 0 0 4px #33bbbb;
}
input.inp.clr-cyn:active,
select.inp.clr-cyn:active,
textarea.inp.clr-cyn:active {
  border-color: #289393;
  box-shadow: 0 0 4px #289393;
}
input.inp.inp-main,
select.inp.inp-main,
textarea.inp.inp-main {
  color: #05272e;
  border-color: #a0b8bd;
  background-color: #e7f3f6;
}
input.inp.inp-main:hover,
select.inp.inp-main:hover,
textarea.inp.inp-main:hover {
  border-color: #1289a1;
}
input.inp.inp-main:focus,
select.inp.inp-main:focus,
textarea.inp.inp-main:focus {
  border-color: #1289a1;
  box-shadow: 0 0 4px #1289a1;
}
input.inp.inp-main:active,
select.inp.inp-main:active,
textarea.inp.inp-main:active {
  border-color: #0d6273;
  box-shadow: 0 0 4px #0d6273;
}
input.inp:disabled,
select.inp:disabled,
textarea.inp:disabled {
  background-color: #eeeeee;
}
input.inp[readonly],
select.inp[readonly],
textarea.inp[readonly] {
  border-color: #e1e1e1;
  background-color: #eeeeee;
}
.fluid {
  position: relative;
}
label.inp {
  text-align: right;
  font-weight: bold;
  color: #083b45;
}
.nav > ul,
.nav {
  display: block;
  margin: 0;
  padding: 0;
}
.nav > ul > li,
.nav > li,
.nav > ul > a,
.nav > a {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
}
.tab-wrp .tab-hdr,
.tab-wrp .tab-hdr > ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0 7px;
  border-bottom: 1px solid #cccccc;
  box-sizing: border-box;
}
.tab-wrp .tab-hdr > li,
.tab-wrp .tab-hdr > ul > li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.tab-wrp .tab-hdr > li > .tab-lbl,
.tab-wrp .tab-hdr > ul > li > .tab-lbl {
  display: block;
  padding: 0 7px;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-bottom: 0;
  color: #999999;
  cursor: pointer;
  text-align: center;
}
.tab-wrp .tab-hdr > li > .tab-lbl:hover,
.tab-wrp .tab-hdr > ul > li > .tab-lbl:hover,
.tab-wrp .tab-hdr > li > .tab-lbl._hvr,
.tab-wrp .tab-hdr > ul > li > .tab-lbl._hvr,
.tab-wrp .tab-hdr > li > .tab-lbl:focus,
.tab-wrp .tab-hdr > ul > li > .tab-lbl:focus,
.tab-wrp .tab-hdr > li > .tab-lbl._fcs,
.tab-wrp .tab-hdr > ul > li > .tab-lbl._fcs {
  border-color: #cccccc;
  color: #1289a1;
}
.tab-wrp .tab-hdr > li > .tab-lbl.active,
.tab-wrp .tab-hdr > ul > li > .tab-lbl.active {
  border-color: #cccccc;
  background: #fdfefe;
  color: #1289a1;
}
.tab-wrp .tab-hdr,
.tab-wrp .tab-hdr > ul {
  height: 32px;
}
.tab-wrp .tab-hdr > li,
.tab-wrp .tab-hdr > ul > li {
  margin-left: 7px;
}
.tab-wrp .tab-hdr > li > .tab-lbl,
.tab-wrp .tab-hdr > ul > li > .tab-lbl {
  font-size: 14px;
  margin-top: 1px;
  height: 31px;
  line-height: 31px;
}
.tab-wrp.sz-sm .tab-hdr,
.tab-wrp.sz-sm .tab-hdr > ul {
  height: 24px;
}
.tab-wrp.sz-sm .tab-hdr > li,
.tab-wrp.sz-sm .tab-hdr > ul > li {
  margin-left: 7px;
}
.tab-wrp.sz-sm .tab-hdr > li > .tab-lbl,
.tab-wrp.sz-sm .tab-hdr > ul > li > .tab-lbl {
  font-size: 12px;
  margin-top: 1px;
  height: 23px;
  line-height: 23px;
}
.tab-wrp.sz-lg .tab-hdr,
.tab-wrp.sz-lg .tab-hdr > ul {
  height: 44px;
}
.tab-wrp.sz-lg .tab-hdr > li,
.tab-wrp.sz-lg .tab-hdr > ul > li {
  margin-left: 7px;
}
.tab-wrp.sz-lg .tab-hdr > li > .tab-lbl,
.tab-wrp.sz-lg .tab-hdr > ul > li > .tab-lbl {
  font-size: 18px;
  margin-top: 2px;
  height: 42px;
  line-height: 42px;
}
.tab-wrp .tab-bdy,
.tab-wrp .tab-bdy > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tab-wrp .tab-bdy > li,
.tab-wrp .tab-bdy > ul > li {
  display: none;
}
.tab-wrp .tab-bdy > li.active,
.tab-wrp .tab-bdy > ul > li.active {
  display: block;
}
.tree ul,
.tree ol {
  display: block;
  margin: 0 0 0 9px;
  padding: 0 0 0 0;
  box-sizing: border-box;
  list-style: none;
}
.tree ul > li,
.tree ol > li {
  display: block;
  position: relative;
  padding-left: 9px;
  border-left: 1px dashed rgba(0, 0, 0, 0.3);
}
.tree ul > li:before,
.tree ol > li:before {
  content: '';
  width: 11px;
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.tree ul > li:last-child,
.tree ol > li:last-child {
  border-left: 1px dashed transparent;
}
.tree ul > li:last-child:before,
.tree ol > li:last-child:before {
  border-left: 1px dashed rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
  border-top: none;
  height: 16px;
  top: 0;
  left: -1px;
}
.tree ul > li > a,
.tree ol > li > a,
.tree ul > li > span,
.tree ol > li > span {
  display: block;
  line-height: 32px;
  height: 32px;
  box-sizing: border-box;
  padding: 0 1em 0 0.5em;
  text-decoration: none;
  vertical-align: middle;
  text-align: left;
  color: #333;
}
.tree ul > li > a:hover,
.tree ol > li > a:hover,
.tree ul > li > span:hover,
.tree ol > li > span:hover,
.tree ul > li > a:active,
.tree ol > li > a:active,
.tree ul > li > span:active,
.tree ol > li > span:active {
  color: #1289a1;
}
.tree ul > li > a > .ico,
.tree ol > li > a > .ico,
.tree ul > li > span > .ico,
.tree ol > li > span > .ico {
  margin-right: 4px;
}
.tree ul > li > .tgl,
.tree ol > li > .tgl {
  z-index: 999;
  display: block;
  position: absolute;
  top: 9px;
  left: -7px;
  vertical-align: middle;
  text-align: center;
  height: 14px;
  width: 14px;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
.tree ul:first-child > li:first-child,
.tree ol:first-child > li:first-child {
  border-left: 1px solid transparent;
}
.tree ul:first-child > li:first-child:before,
.tree ol:first-child > li:first-child:before {
  border-left: 1px dashed rgba(0, 0, 0, 0.3);
  height: 16px;
  left: -1px;
}
.flx-row {
  position: absolute;
  left: 0;
  right: 0;
}
.flx-col {
  position: absolute;
  top: 0;
  bottom: 0;
}
.row {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0 0 8px 0;
}
.row:last-child {
  margin-bottom: 0;
}
.row .col-1-12 {
  width: 7.93333333%;
}
.row .col-2-12 {
  width: 16.26666667%;
}
.row .col-3-12 {
  width: 24.6%;
}
.row .col-4-12 {
  width: 32.93333333%;
}
.row .col-5-12 {
  width: 41.26666667%;
}
.row .col-6-12 {
  width: 49.6%;
}
.row .col-7-12 {
  width: 57.93333333%;
}
.row .col-8-12 {
  width: 66.26666667%;
}
.row .col-9-12 {
  width: 74.6%;
}
.row .col-10-12 {
  width: 82.93333333%;
}
.row .col-11-12 {
  width: 91.26666667%;
}
.row .col-12-12 {
  width: 99.6%;
}
.row .col-1-12, .col-2-12, .col-3-12, .col-4-12, .col-5-12, .col-6-12, .col-7-12, .col-8-12, .col-9-12, .col-10-12, .col-11-12, .col-12-12 {
  position: relative;
  display: block;
  float: left;
  box-sizing: border-box;
  min-height: 1px;
  margin-left: 0.2%;
  margin-right: 0.2%;
}
.row .col-1-9 {
  width: 10.71111111%;
}
.row .col-2-9 {
  width: 21.82222222%;
}
.row .col-3-9 {
  width: 32.93333333%;
}
.row .col-4-9 {
  width: 44.04444444%;
}
.row .col-5-9 {
  width: 55.15555556%;
}
.row .col-6-9 {
  width: 66.26666667%;
}
.row .col-7-9 {
  width: 77.37777778%;
}
.row .col-8-9 {
  width: 88.48888889%;
}
.row .col-9-9 {
  width: 99.6%;
}
.row .col-1-9, .col-2-9, .col-3-9, .col-4-9, .col-5-9, .col-6-9, .col-7-9, .col-8-9, .col-9-9 {
  position: relative;
  display: block;
  float: left;
  box-sizing: border-box;
  min-height: 1px;
  margin-left: 0.2%;
  margin-right: 0.2%;
}
.row-sep {
  height: 0;
  border-bottom: 1px dashed #c2dadf;
  margin: 0 0 3px 0;
}
.pnl {
  display: block;
  margin: 0 7px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #c4c4c4;
}
.pnl > * {
  padding: 6px 7px;
}
.pnl > .pnl-hdr,
.pnl > .pnl-ftr {
  display: block;
  background: #eeeeee;
  font-weight: bold;
}
.pnl > .pnl-hdr {
  border-bottom: 1px solid #c4c4c4;
  border-radius: 3px 3px 0 0;
}
.pnl > .pnl-ftr {
  border-top: 1px solid #c4c4c4;
  border-radius: 0 0 3px 3px;
}
.lf {
  float: left;
}
.rt {
  float: right;
}
.txt-l {
  text-align: left;
}
.txt-r {
  text-align: right;
}
.sup {
  vertical-align: super!important;
}
.sub {
  vertical-align: sub!important;
}
.fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.relative {
  position: relative;
}
.show {
  display: block!important;
}
.hide {
  display: none!important;
}
.font-md {
  font-size: 14px;
  line-height: 20px;
}
.font-lg {
  font-size: 18px;
  line-height: 30px;
}
.font-sm {
  font-size: 12px;
  line-height: 18px;
}
.i-dp-arrow {
  display: inline-block;
  border-style: solid;
  border-color: #333333 transparent transparent;
  vertical-align: middle;
  margin-left: 3px;
}
.i-dp-arrow,
.sz-md > .i-dp-arrow,
.i-dp-arrow.sz-md {
  border-width: 5px 4px 3px;
}
.sz-lg > .i-dp-arrow,
.i-dp-arrow.sz-lg {
  border-width: 6px 5px 4px;
}
.sz-sm > .i-dp-arrow,
.i-dp-arrow.sz-sm {
  border-width: 4px 3px 2px;
}
.drp {
  position: relative;
  overflow: visible;
  display: inline-block;
  vertical-align: middle;
}
.drp > * {
  display: block;
}
.drp .drp-pnl {
  opacity: 0;
  z-index: -999;
  transition: ease-in-out 0.2s;
  background: #fdfefe;
  border: 1px solid #cccccc;
  position: absolute;
  top: 100%;
}
.drp:hover,
.drp._hvr,
.drp.drp-open {
  z-index: 998;
}
.drp:hover .drp-pnl,
.drp._hvr .drp-pnl,
.drp.drp-open .drp-pnl {
  opacity: 1;
  z-index: 999;
}
.drp > *:focus + .drp-pnl {
  opacity: 1;
  z-index: 999;
}
.mnu {
  background: #fdfefe;
  border: 1px solid #cccccc;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.mnu ul,
.mnu ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mnu ul > li,
.mnu ol > li {
  display: block;
}
.mnu .btn {
  display: block;
}
.striped tr:nth-child(2n),
.striped tr.even {
  background: #f2f8fa;
}
.striped tr:nth-child(2n-1),
.striped tr.odd {
  background: #fff;
}
.tbl table,
table.tbl {
  width: 100%;
  border-collapse: collapse;
}
.tbl.hover tr:hover,
.tbl.hover tr._hvr {
  background: #d8ecf0;
}
.tbl.hover tr:hover.checked,
.tbl.hover tr._hvr.checked {
  background: #acd6de;
}
.tbl.nowrap td > div {
  white-space: nowrap;
}
.tbl tr.alert,
.tbl tr.clr-ylw {
  background: #f4eabf;
  color: #897217;
}
.tbl tr.error .tbl tr.clr-red {
  background: #fadcde;
  color: #a81a27;
}
.tbl tr.success .tbl tr.clr-grn {
  background: #e2f3d2;
  color: #588b26;
}
.tbl tr.question .tbl tr.clr-blu {
  background: #c5d7ee;
  color: #254a7b;
}
.tbl tr.info .tbl tr.clr-cyn {
  background: #aae8e8;
  color: #268b8b;
}
.tbl tr.checked,
.tbl tr:checked {
  background: #8fc7d3;
}
.tbl td,
.tbl th {
  padding: 0;
  margin: 0;
}
.tbl td > div,
.tbl th > div {
  padding: 3px 3px;
  overflow: hidden;
  cursor: default;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
}
.tbl td > div.c,
.tbl th > div.c {
  text-align: center;
}
.tbl td > div.l,
.tbl th > div.l {
  text-align: left;
}
.tbl td > div.r,
.tbl th > div.r {
  text-align: right;
}
.tbl td:last-child,
.tbl th:last-child {
  border-right: 0;
}
.tbl td {
  border-color: #d5d5d5;
  border-style: dotted;
  border-width: 0 1px 1px 0;
}
.tbl th {
  border-color: #cccccc;
  border-style: solid dotted solid dotted;
  border-width: 1px 1px 1px 0;
  boder-left: 0;
  background: #fafafa;
  font-weight: normal;
}
.tbl.sz-lg td > div,
.tbl.sz-lg th > div {
  padding: 3.5px 4px;
  font-size: 18px;
  line-height: 30px;
}
.tbl.sz-sm td > div,
.tbl.sz-sm th > div {
  padding: 1.5px 3px;
  font-size: 12px;
  line-height: 18px;
}
.grd-wrp {
  position: relative;
  overflow: hidden;
  background: #fafafa;
}
.grd-wrp div {
  overflow: hidden;
}
.grd-wrp .tbl tbody {
  border-right: 1px dotted #d5d5d5;
}
.grd-wrp .tbl thead {
  border-right: 1px dotted #cccccc;
}
.grd-wrp .grd-row-num {
  background: #eeeeee;
  text-align: center;
}
.grd-wrp .grd-chk {
  text-align: center;
}
.grd-wrp .grd-chk input {
  width: 16px;
  height: 16px;
}
.grd-wrp .grd-zn1,
.grd-wrp .grd-zn2 {
  position: absolute;
  top: 0;
  bottom: 32px;
}
.no-pgr .grd-wrp .grd-zn1,
.no-pgr .grd-wrp .grd-zn2 {
  bottom: 0;
}
.grd-wrp .grd-zn1 .grd-tbl-hdr,
.grd-wrp .grd-zn2 .grd-tbl-hdr {
  background: #fafafa;
  border-top: 1px solid #d5d5d5;
  border-bottom: 2px solid #d5d5d5;
}
.grd-wrp .grd-zn1 .grd-tbl-hdr th,
.grd-wrp .grd-zn2 .grd-tbl-hdr th {
  border-top: 0;
  border-bottom: 0;
}
.grd-wrp .grd-zn1 .grd-tbl-hdr th .sort-asc,
.grd-wrp .grd-zn2 .grd-tbl-hdr th .sort-asc,
.grd-wrp .grd-zn1 .grd-tbl-hdr th .sort-desc,
.grd-wrp .grd-zn2 .grd-tbl-hdr th .sort-desc {
  display: inline-block;
  height: 0;
  box-sizing: content-box;
  border-style: solid;
  border-color: #333333 transparent transparent transparent;
  border-width: 6px 4px 0 4px;
  margin-left: 3px;
  vertical-align: middle;
}
.grd-wrp .grd-zn1 .grd-tbl-hdr th .sort-asc,
.grd-wrp .grd-zn2 .grd-tbl-hdr th .sort-asc {
  border-color: transparent transparent #333333 transparent;
  border-width: 0 4px 6px 4px;
}
.grd-wrp .grd-zn1 .grd-tbl-hdr th[data-grd-sort-name],
.grd-wrp .grd-zn2 .grd-tbl-hdr th[data-grd-sort-name],
.grd-wrp .grd-zn1 .grd-tbl-hdr th[data-grd-sort-name] *,
.grd-wrp .grd-zn2 .grd-tbl-hdr th[data-grd-sort-name] * {
  cursor: pointer;
}
.grd-wrp .grd-zn1 .grd-tbl-hdr th[data-grd-sort-name]:hover,
.grd-wrp .grd-zn2 .grd-tbl-hdr th[data-grd-sort-name]:hover,
.grd-wrp .grd-zn1 .grd-tbl-hdr th[data-grd-sort-name]._hvr,
.grd-wrp .grd-zn2 .grd-tbl-hdr th[data-grd-sort-name]._hvr {
  background: #e6e6e6;
}
.grd-wrp .grd-zn1 {
  left: 0;
}
.grd-wrp .grd-zn1 .grd-tbl-bdy,
.grd-wrp .grd-zn1 .grd-tbl-bdy > div,
.grd-wrp .grd-zn1 .grd-tbl-bdy > table {
  position: relative;
}
.grd-wrp .grd-zn2 {
  right: 0;
}
.grd-wrp .grd-zn2 .grd-tbl-hdr,
.grd-wrp .grd-zn2 .grd-tbl-hdr > div,
.grd-wrp .grd-zn2 .grd-tbl-hdr > table {
  position: relative;
}
.grd-wrp .grd-zn2 .grd-tbl-bdy {
  overflow: auto;
}
.grd-wrp .grd-pgr {
  height: 32px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fafafa;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}
.grd-wrp .grd-pgr .grd-fst:before {
  content: '\e610';
}
.grd-wrp .grd-pgr .grd-lst:before {
  content: '\e613';
}
.grd-wrp .grd-pgr .grd-pre:before {
  content: '\e611';
}
.grd-wrp .grd-pgr .grd-nxt:before {
  content: '\e612';
}
.grd-wrp .grd-pgr .grd-fst,
.grd-wrp .grd-pgr .grd-lst,
.grd-wrp .grd-pgr .grd-pre,
.grd-wrp .grd-pgr .grd-nxt {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding: 6px;
  width: 18px;
  text-align: center;
}
.grd-wrp .grd-pgr .infos {
  font-size: 14px;
  line-height: 20px;
  padding: 6px 12px;
}
body.dlg-mdl-dom {
  overflow: hidden;
  height: 100%;
}
.dlg {
  display: block;
  background: #fdfefe;
  border: 1px solid #cccccc;
  box-shadow: 0 0 10px #cccccc;
  margin: 0;
  padding: 0;
}
.dlg .dlg-hdr,
.dlg .dlg-ftr {
  display: block;
  min-height: 32px;
}
.dlg .dlg-rszHdl {
  cursor: se-resize;
}
.dlg .dlg-hdr {
  position: relative;
}
.dlg .dlg-hdr.dlg-drgHdl {
  cursor: move;
}
.dlg .dlg-hdr .dlg-ttl {
  display: block;
  float: left;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 0 3.5px;
  padding: 6px 5px;
  font-weight: bold;
  color: #333333;
}
.dlg .dlg-hdr .dlg-win-btns {
  float: right;
  margin-right: 3px;
}
.dlg .dlg-hdr .dlg-win-btns .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-decoration: none;
  padding: 5px 7px 3px;
  height: 28px;
  width: 48px;
  box-sizing: border-box;
  color: #333333;
  font-size: 14px;
  position: relative;
}
.dlg .dlg-hdr .dlg-win-btns .btn:hover,
.dlg .dlg-hdr .dlg-win-btns .btn:focus {
  background: #d8ecf0;
}
.dlg .dlg-hdr .dlg-win-btns .btn:active {
  background: #b4d9e1;
}
.dlg .dlg-hdr .dlg-win-btns .btn.dlg-cls:before {
  content: 'x';
}
.dlg .dlg-hdr .dlg-win-btns .btn.dlg-cls:hover,
.dlg .dlg-hdr .dlg-win-btns .btn.dlg-cls:focus {
  background: #dc2233;
  color: #fff;
}
.dlg .dlg-hdr .dlg-win-btns .btn.dlg-cls:active {
  background: #85141f;
  color: #fff;
}
.dlg .dlg-hdr .dlg-win-btns .btn.dlg-mnz:before {
  content: '\e606';
}
.dlg .dlg-hdr .dlg-win-btns .btn.dlg-nmz:before {
  content: '\e607';
}
.dlg .dlg-hdr .dlg-win-btns .btn.dlg-mxz:before {
  content: '\e605';
}
.dlg .dlg-ftr {
  padding: 3px 3px;
}
.dlg .dlg-ftr .btns {
  float: right;
}
.dlg .dlg-ftr .btns .btn,
.dlg .dlg-ftr .btns .iln-blk,
.dlg .dlg-ftr .btns .inp {
  margin-left: 3px;
}
.dlg .dlg-ftr .btns .btn:first-child,
.dlg .dlg-ftr .btns .iln-blk:first-child,
.dlg .dlg-ftr .btns .inp:first-child {
  margin-left: 0;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn {
  background: #eeeeee;
  border-color: #cccccc;
  color: #333333;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn:hover,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn:focus {
  color: #fff;
  background: #1289a1;
  border-color: #1289a1;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn:active {
  color: #fff;
  background: #0c5a6a;
  border-color: #0c5a6a;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-red {
  color: #b11b29;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-red:hover,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-red._hvr,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-red:focus,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-red._fcs {
  color: #fff;
  background: #dd2233;
  border-color: #dd2233;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-red:active,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-red._act {
  color: #fff;
  background: #a81a27;
  border-color: #a81a27;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-ylw {
  color: #bd9e20;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-ylw:hover,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-ylw._hvr,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-ylw:focus,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-ylw._fcs {
  color: #fff;
  background: #ddbb33;
  border-color: #ddbb33;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-ylw:active,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-ylw._act {
  color: #fff;
  background: #b5971e;
  border-color: #b5971e;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-grn {
  color: #5e9328;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-grn:hover,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-grn._hvr,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-grn:focus,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-grn._fcs {
  color: #fff;
  background: #77bb33;
  border-color: #77bb33;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-grn:active,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-grn._act {
  color: #fff;
  background: #588b26;
  border-color: #588b26;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-cyn {
  color: #289393;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-cyn:hover,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-cyn._hvr,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-cyn:focus,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-cyn._fcs {
  color: #fff;
  background: #33bbbb;
  border-color: #33bbbb;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-cyn:active,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-cyn._act {
  color: #fff;
  background: #268b8b;
  border-color: #268b8b;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-blu {
  color: #274e83;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-blu:hover,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-blu._hvr,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-blu:focus,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-blu._fcs {
  color: #fff;
  background: #3366aa;
  border-color: #3366aa;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-blu:active,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-blu._act {
  color: #fff;
  background: #254a7b;
  border-color: #254a7b;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-drk {
  color: #1a1a1a;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-drk:hover,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-drk._hvr,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-drk:focus,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-drk._fcs {
  color: #fff;
  background: #333333;
  border-color: #333333;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-drk:active,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-drk._act {
  color: #fff;
  background: #141414;
  border-color: #141414;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-main {
  color: #0d6273;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-main:hover,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-main._hvr,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-main:focus,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-main._fcs {
  color: #fff;
  background: #1289a1;
  border-color: #1289a1;
}
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-main:active,
.dlg .dlg-ftr .btns .btn.dlg-ftr-btn.clr-main._act {
  color: #fff;
  background: #0c5a6a;
  border-color: #0c5a6a;
}
.dlg .dlg-bdy {
  display: block;
  min-height: 72px;
  margin: 0;
  padding: 0;
}
.dlg .dlg-bdy .dlg-msg {
  margin: 7px;
}
.dlg.mx {
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
}
.dlg.mx > .dlg-hdr,
.dlg.mx > .dlg-bdy,
.dlg.mx > .dlg-ftr {
  position: absolute;
  left: 0;
  right: 0;
  box-sizing: border-box;
}
.dlg.mx > .dlg-hdr {
  top: 0;
  height: 32px;
}
.dlg.mx > .dlg-bdy {
  top: 32px;
  bottom: 38px;
  overflow: auto;
}
.dlg.mx > .dlg-ftr {
  bottom: 0;
  height: 38px;
}
.dlg.no-hdr .dlg-hdr {
  display: none;
}
.dlg.no-hdr.mx .dlg-bdy {
  top: 0;
}
.dlg.no-ftr .dlg-ftr {
  display: none;
}
.dlg.no-ftr.mx .dlg-bdy {
  bottom: 0;
}
.dlg-wrp,
.msg-wrp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: auto!important;
  height: auto!important;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.dlg-wrp .dlg-mdl,
.msg-wrp .dlg-mdl {
  background: #eeeeee;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.msg {
  border: 2px solid #1289a1;
  color: #000000;
  border-color: #1289a1;
  background: #f8fbfc;
  box-shadow: 0 0 28px #1289a1;
  font-size: 14px;
  line-height: 20px;
}
.msg .dlg-msg > .ico {
  background-color: #1289a1;
  color: #fff;
}
.msg .dlg-msg {
  padding: 16px;
}
.msg .dlg-msg > .ico {
  display: inline-block;
  padding-top: 2px;
  height: 38px;
  width: 40px;
  font-size: 28px;
  line-height: 40px;
  margin-right: 14px;
}
.msg .dlg-msg > .content {
  display: inline-block;
}
.msg.alert {
  color: #3a310a;
  border-color: #ddbb33;
  background: #fcfcfa;
  box-shadow: 0 0 28px #ddbb33;
}
.msg.alert .dlg-msg > .ico {
  background-color: #ddbb33;
  color: #fff;
}
.msg.alert .dlg-msg > .ico:before {
  content: '!';
}
.msg.info {
  color: #071b1b;
  border-color: #33bbbb;
  background: #f9fcfd;
  box-shadow: 0 0 28px #33bbbb;
}
.msg.info .dlg-msg > .ico {
  background-color: #33bbbb;
  color: #fff;
}
.msg.info .dlg-msg > .ico:before {
  content: 'i';
}
.msg.err {
  color: #2c070a;
  border-color: #dd2233;
  background: #fcf9fa;
  box-shadow: 0 0 28px #dd2233;
}
.msg.err .dlg-msg > .ico {
  background-color: #dd2233;
  color: #fff;
}
.msg.err .dlg-msg > .ico:before {
  content: 'X';
}
.msg.success {
  color: #111b07;
  border-color: #77bb33;
  background: #fafcfa;
  box-shadow: 0 0 28px #77bb33;
}
.msg.success .dlg-msg > .ico {
  background-color: #77bb33;
  color: #fff;
}
.msg.success .dlg-msg > .ico:before {
  content: 'Y';
}
.msg.quest {
  color: #04080d;
  border-color: #3366aa;
  background: #f9fbfc;
  box-shadow: 0 0 28px #3366aa;
}
.msg.quest .dlg-msg > .ico {
  background-color: #3366aa;
  color: #fff;
}
.msg.quest .dlg-msg > .ico:before {
  content: '?';
}
.thb {
  float: left;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  margin: 6px;
  width: 216px;
  padding: 7px;
}
.thb .thb-img-wrp {
  background: #eeeeee;
  overflow: hidden;
}
.thb .thb-img-wrp span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.thb .thb-img-wrp span img {
  vertical-align: middle;
}
.thb .thb-lbl-wrp {
  display: block;
}
.thb .thb-img-wrp {
  margin-bottom: 7px;
}
.thb .thb-img-wrp span {
  width: 200px;
  height: 150px;
}
.thb .thb-img-wrp span img {
  max-width: 200px;
  max-height: 150px;
}
.thb .thb-lbl-wrp {
  font-size: 14px;
}
.thb.sz-sm {
  width: 174px;
  padding: 6px;
}
.thb.sz-sm .thb-img-wrp {
  margin-bottom: 6px;
}
.thb.sz-sm .thb-img-wrp span {
  width: 160px;
  height: 120px;
}
.thb.sz-sm .thb-img-wrp span img {
  max-width: 160px;
  max-height: 120px;
}
.thb.sz-sm .thb-lbl-wrp {
  font-size: 12px;
}
.thb.sz-lg {
  width: 340px;
  padding: 9px;
}
.thb.sz-lg .thb-img-wrp {
  margin-bottom: 9px;
}
.thb.sz-lg .thb-img-wrp span {
  width: 320px;
  height: 240px;
}
.thb.sz-lg .thb-img-wrp span img {
  max-width: 320px;
  max-height: 240px;
}
.thb.sz-lg .thb-lbl-wrp {
  font-size: 18px;
}
