
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1465189074'); /* IE9*/
  src: url('iconfont.eot?t=1465189074#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1465189074') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1465189074') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1465189074#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-publish:before { content: "\70"; }
.icon-cold:before { content: "\e601"; }
.icon-hot:before { content: "\e602"; }
.icon-star:before { content: "\e603"; }
.icon-tickthin:before { content: "\79"; }
.icon-cross:before { content: "\58"; }
.icon-crossthin:before { content: "\78"; }
.icon-tick:before { content: "\59"; }
.icon-comment:before { content: "\6d"; }
.icon-mail:before { content: "\4d"; }
.icon-search:before { content: "\73"; }
.icon-edit:before { content: "\65"; }
.icon-peopleblack3:before { content: "\55"; }
.icon-download:before { content: "\64"; }
.icon-folder:before { content: "\e604"; }
.icon-sort:before { content: "\e614"; }
.icon-file2add:before { content: "\e60a"; }
.icon-folder2add:before { content: "\e60b"; }
.icon-link:before { content: "\6c"; }
.icon-project2add:before { content: "\e60c"; }
.icon-glass:before { content: "\47"; }
.icon-maximize:before { content: "\e605"; }
.icon-minimize:before { content: "\e606"; }
.icon-normalize:before { content: "\e607"; }
.icon-attach:before { content: "\41"; }
.icon-alert:before { content: "\21"; }
.icon-info:before { content: "\69"; }
.icon-question2:before { content: "\3f"; }
.icon-first:before { content: "\e610"; }
.icon-last:before { content: "\e613"; }
.icon-next:before { content: "\e612"; }
.icon-prev:before { content: "\e611"; }
.icon-copy48:before { content: "\63"; }
.icon-create48:before { content: "\2a"; }
.icon-drawer48:before { content: "\44"; }
.icon-file48:before { content: "\46"; }
.icon-key48:before { content: "\4b"; }
.icon-box48:before { content: "\42"; }
.icon-eye48:before { content: "\45"; }
.icon-folder48:before { content: "\43"; }
.icon-seal48:before { content: "\e617"; }
.icon-project48:before { content: "\50"; }
.icon-safe48:before { content: "\53"; }
