.btn, .link-btn{
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	text-decoration: none;
	//outline:0;
	//background: transparent;
	//&:focus{outline: @bdr-width solid @main-clr;}
	border-radius: @bdr-round;
}
.btn{
	color:@main-clr;
	border: none;

	&, &.sz-md{
		.btn-sz(@font-size, @ln-height, @blk-size);
		.btn-ico-size(@font-size, @ln-height);
	}
	&.sz-lg{
		.btn-sz(@font-size-lg, @ln-height-lg, @blk-size-lg);
		.btn-ico-size(@font-size-lg, @ln-height-lg);
	}
	&.sz-sm{
		.btn-sz(@font-size-sm, @ln-height-sm, @blk-size-sm);
		.btn-ico-size(@font-size-sm, @ln-height-sm);
	}

	>.ico-top, >.ico-btm{display:block; margin: 0 auto;}
	>.ico-lf, >.ico-rt, >.ico-top, >.ico-btm{
		vertical-align: bottom;
	}

	&:hover, &._hvr{
		color:@main-clr;
		background: darken(@bg-clr, 10%);
	}
	&:focus, &._fcs{
		color:@main-clr;
	}
	&:active, &._act{
		color:@main-clr;
		background: darken(@bg-clr, 20%);
	}
	&:disabled, &._dis{
		opacity: 0.3;
		cursor: not-allowed;
	}
}
.link-btn{
	color:@main-clr;
	&:hover, &._hvr, &:focus, &._fcs{
		color:@main-clr;
		color:lighten(@main-clr, 8%);
		text-decoration: underline;
	}
	&:focus, &._fcs{
		color: @main-clr;
		box-shadow: 0 0 3px @main-clr;
	}
	&:active, &._act{
		color: darken(@main-clr, 16%);
	}
}
