@font-family: 'Microsoft Yahei';
body{
	margin:0;
	padding:0;
	font-family: @font-family;
	font-size: @font-size;
	line-height: @ln-height;
	background: @bg-clr;
}

textarea, input, select{
	font-family: @font-family;
}

iframe{
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clearfix{
	&:before, &:after{
		clear: both;
		content: '';
		display: table;
	}
}

.inline-block-size(@font-size, @inner-height, @height, @border-width:0){
	font-size: @font-size;
	line-height: @inner-height;
	padding: ((@height - @inner-height) / 2 - @border-width) ceil(@inner-height * 0.6 - @border-width);
}

.iln-blk(@font-size, @inner-height, @height, @border-width:0){
	display: inline-block;
	vertical-align: middle;
	box-sizing:  border-box;
	text-align: center;
	font-size: @font-size;
	line-height: @inner-height;
	padding: ((@height - @inner-height) / 2 - @border-width) ceil(@font-size * 0.2 - @border-width);
}
.iln-blk{
	.iln-blk(@font-size, @ln-height, @blk-size);
}
.iln-blk-sm, .iln-blk.sz-sm{
	.iln-blk(@font-size-sm, @ln-height-sm, @blk-size-sm);
}
.iln-blk-lg, .iln-blk.sz-lg{
	.iln-blk(@font-size-lg, @ln-height-lg, @blk-size-lg);
}

.img-centered(){
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	img{
		vertical-align: middle;
	}
}