
@font: 'Microsort Yahei';

@import "./def/color-normal.less";
@import "./def/size-sm.less";

@blk-padding-v: (@blk-size - @ln-height) / 2;
@blk-padding-h: @font-size / 2;
@blk-padding-v-lg: (@blk-size-lg - @ln-height-lg) / 2;
@blk-padding-h-lg: @font-size-lg / 2;
@blk-padding-v-sm: (@blk-size-sm - @ln-height-sm) / 2;
@blk-padding-h-sm: @font-size-sm / 2;

@import "common.less";
@import "icon.less";
@import "button.less";
@import "form.less";
@import "nav.less";
@import "tree.less";
@import "flex.less";
@import "gridSys.less";

@import "dropDown.less";
@import "table.less";
@import "dialog.less";
@import "main_frame.less";
@import "thumbNail.less";


@import "special.less";