@pnl-inr-bdr-round: @bdr-width + @bdr-round;
@pnl-bdr-r: @bdr-width + @pnl-inr-bdr-round;
@pnl-bdr-w: @bdr-width;
.pnl{
	display: block;
	margin: 0 (@font-size / 2);
	border-radius: @pnl-bdr-r;
	overflow: hidden;
	border: @pnl-bdr-w solid mix(@grey, @light);

	>* {
		padding: @blk-padding-v @blk-padding-h;
	}

	>.pnl-hdr, >.pnl-ftr{
		display: block;
		background: @light;
		font-weight: bold;
	}

	>.pnl-hdr{
		border-bottom:@bdr-width solid mix(@grey, @light);
		border-radius: @pnl-inr-bdr-round @pnl-inr-bdr-round 0 0;
	}

	>.pnl-ftr{
		border-top:@bdr-width solid mix(@grey, @light);
		border-radius: 0 0 @pnl-inr-bdr-round @pnl-inr-bdr-round;
	}

}