.btn-sz(@size, @inner-height, @height, @border-width:0){
	.inline-block-size(@size, @inner-height, @height, @border-width);
}

.brd-btn(){
	border-width: @bdr-width;
	border-style: solid;
	&, &.sz-md{
		.btn-sz(@font-size, @ln-height, @blk-size, @bdr-width);
	}
	&.sz-lg{
		.btn-sz(@font-size-lg, @ln-height-lg, @blk-size-lg, @bdr-width);
	}
	&.sz-sm{
		.btn-sz(@font-size-sm, @ln-height-sm, @blk-size-sm, @bdr-width);
	}
}

.btn-ico-size(@size, @inner-height){
	>.ico-lf{margin:0 floor(@size / 4) 0 0;}
	>.ico-rt{margin:0 0 0 floor(@size / 4);}
}


.btn-plain-clr-static(@clr){
	color: darken(@clr, 10%);
	background: transparent;
}
.btn-plain-clr-active(@clr){
	&:hover, &._hvr, &:focus, &._fcs{
		color: darken(@clr, 10%);
		background: lighten(@clr, 40%);
	}
	&:active, &._act{
		color: darken(@clr, 10%);
		background: lighten(@clr, 30%);
	}
}
.btn-plain-clr-static-brd(@clr){
	color: darken(@clr, 10%);
	background: transparent;
	border-color: transparent;
}
.btn-plain-clr-active-brd(@clr){
	&:hover, &._hvr, &:focus, &._fcs{
		color: darken(@clr, 10%);
		background: lighten(@clr, 40%);
		border-color: lighten(@clr, 40%);
	}
	&:active, &._act{
		color: darken(@clr, 10%);
		background: lighten(@clr, 30%);
		border-color: lighten(@clr, 30%);
	}
}
.btn-bordered-clr-staic(@clr){
	color: darken(@clr, 10%);
	border-color: fade(darken(@clr, 10%), 20%);
	background: fade(darken(@clr, 10%), 4%);
}
.btn-bordered-clr-active(@clr){
	&:hover, &._hvr, &:focus, &._fcs{
		color: darken(@clr, 10%);
		border-color: darken(mix(@bg-clr, @clr, 60%), 10%);
		border-color: fade(darken(@clr, 10%), 40%);
	}
	&:hover, &._hvr{
		color: darken(@clr, 10%);
		background: mix(@bg-clr, @clr, 80%);
		background: fade(@clr, 20%);
	}
	&:active, &._act{
		color: darken(@clr, 20%);
		background: darken(mix(@bg-clr, @clr, 80%), 10%);
		background: fade(darken(@clr, 10%), 25%);
		border-color: darken(mix(@bg-clr, @clr, 60%), 20%);
		border-color: fade(darken(@clr, 25%), 40%);
	}
}
.btn-solid-clr-static(@clr){
	background: @clr;
	color:#fff;
}
.btn-solid-clr-active(@clr){
	&:hover, &._hvr, &:focus, &._fcs{
		color:#fff;
		background: lighten(@clr, 8%);
	}
	&:active, &._act{
		color:#fff;
		background: darken(@clr, 12%);
	}
}
.btn-solid-clr-active-dim(@clr){
	&:hover, &._hvr, &:focus, &._fcs{
		color:#fff;
		background: @clr;
	}
	&:active, &._act{
		color:#fff;
		background: darken(@clr, 12%);
	}
}
.btn-solid-clr-static-brd(@clr){
	background: @clr;
	border-color: @clr;
	color:#fff;
}
.btn-solid-clr-active-brd(@clr){
	&:hover, &._hvr, &:focus, &._fcs{
		color:#fff;
		background: lighten(@clr, 8%);
		border-color: lighten(@clr, 8%);
	}
	&:active, &._act{
		color:#fff;
		background: darken(@clr, 12%);
		border-color: darken(@clr, 12%);
	}
}
.btn-solid-clr-active-brd-dim(@clr){
	&:hover, &._hvr, &:focus, &._fcs{
		color:#fff;
		background: @clr;
		border-color: @clr;
	}
	&:active, &._act{
		color:#fff;
		background: darken(@clr, 12%);
		border-color: darken(@clr, 12%);
	}
}
.btn-link-clr(@clr){
	color:@clr;
	&:hover, &._hvr, &:focus, &._fcs{
		color:@clr;
		color:lighten(@clr, 8%);
		text-decoration: underline;
	}
	&:focus, &._fcs{
		color:@clr;
		box-shadow: 0 0 3px @clr;
	}
	&:active, &._act{
		color: darken(@clr, 16%);
	}
}

.s3d-btn-sz(@size, @inner-height, @height, @border-width:1px){
	font-size: @size;
	line-height: @inner-height;
	padding: ((@height - @inner-height) / 2 - @border-width) ceil(@inner-height * 0.6);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5), 0 -1px 1px rgba(0,0,0,0.75);
}
.s3d-btn(){
	border:1px solid transparent;
	border-width: floor((@bdr-width + @bdr-round) / 2) 0 floor((@bdr-width + @bdr-round) / 2) 0;
	.s3d-btn-sz(@font-size, @ln-height, @blk-size,floor((@bdr-width + @bdr-round) / 2));
	&.sz-lg{
		.s3d-btn-sz(@font-size-lg, @ln-height-lg, @blk-size-lg,floor((@bdr-width + @bdr-round) / 2));
	}
	&.sz-sm{
		.s3d-btn-sz(@font-size-sm, @ln-height-sm, @blk-size-sm,floor((@bdr-width + @bdr-round) / 2));
	}
}
.btn-solid-3d-clr-static(@clr){
	background: @clr;
	border-top-color: lighten(@clr,20%);
	border-bottom-color: darken(@clr, 10%);
	color:#fff;
}
.btn-solid-3d-clr-active(@clr){
	&:hover, &._hvr, &:focus, &._fcs{
		color:#fff;
		background: lighten(@clr, 8%);
		border-top-color: lighten(@clr, 28%);
		border-bottom-color: darken(@clr, 2%);
	}
	&:active, &._act{
		color:#fff;
		background: darken(@clr, 12%);
		border-color: darken(@clr, 12%);
	}
}